*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1A1A2E;
    padding: 15px 30px;
    color: white;
}

.navbar .logo{
    font-size: 22px;
    font-weight: bold;
}

.navbar .logo .forge{
    color: #FF6B35;
}

.navbar button{
    color: white;
    background-color: #FF6B35;
    border: none;
    padding: 5px 12px;
}
.menu a{
    text-decoration: none;
    color: white;
    /* padding-right: 10px; */
}

.menu {
    display: flex;
    gap: 10px;
}



.banner{
    background-image: linear-gradient(rgba(20, 15, 12, 0.65)), url('./images/banner.jpg');
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .banner .box{
    width: 30%;
    margin: 0 auto;
} */

.banner h1{
    padding-bottom: 6px;
}




.service-container{
    margin-top: 125px;
}

.service-head{
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px; 
}

.card{
    width: 30%;
    background-color: white;
}
.card img{
    width: 100%;
    height: 250px;
    border-radius: 12px 12px;
}

.card h1, .card p, .card button{ 
    margin: 12px 0px 12px 12px; 
}

.card button{
    background-color: black;
    color: white; 
    border: none;
    padding: 6px 12px;
}




footer{
    background-color: #1A1A2E;
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
}

.footer-head{
    font-size: 18px;
    color: white;
    margin-bottom: 12px;
}

footer div a{
    text-decoration: none;
    color: #CCCCCC;
}

footer div p{
    /* text-decoration: none; */
    color: #CCCCCC;
}

.links{
    display: flex;
    flex-direction: column;
}


#popupBox{
    background-color: #FF6B35;
    text-align: center;
    color: white;
    padding: 12px 0px;
    display: none;
}